/* Global */

@media (max-width: 764px) {
    .header img {
        position: relative;
        top: -30px;
    }
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url('fonts/CaviarDreams_Bold.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}

body {
    padding-top: 58px;
}

.text-justify {
	padding: 0 8vw;
}

h2 {
    font-family: 'Caviar Dreams';
    color: #FF6600;
}

p {
	line-height: 200%; 
}

section {
    padding: 78px 0 78px 0;
}

.form-control {
    border: 1px solid #FF6600;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border: 2px solid #FF6600;
    box-shadow: #FF6600;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



/* Navbar */

.navbar-brand img {
    height: 30px;
}

.bg-light {
    background-color: rgba(255,255,255,1) !important;
    border-bottom: solid 1px black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF6600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: black;
    padding-right: 30px;
}



/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/forest2.jpg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header .header-text {
    color: white; 
}

.header .header-text h1 {
    font-size: calc(29px + (46 - 29) * (100vw - 400px) / 1200);
    font-family: 'Caviar Dreams Bold';
    color: #FF6600;
    /*
        calc(police_min px + (police_max - police_min) * (100vw - 400px) / (resolution_max - resolution_min))
    */
}

.header .header-text h1 .title-color {
    color: white;
}

.subtitle {
    font-family:'Open Sans';
    font-weight: 300;
    font-size: calc(27px + (30 - 27) * (100vw - 400px) / 1200);
    line-height: 100%;
}

.available {
    font-family:'Open Sans';
    font-weight: 300;
    font-size: calc(27px + (30 - 27) * (100vw - 400px) / 1200);
    line-height: 100%;
}

.color-available {
    color: #FF6600;
}

.btn-more-info {
    font-family:'Open Sans';
    font-weight: bold;
    background-color: rgba(255,255,255,0);
    color: white;
    border: 3px solid #FF6600;
    border-radius: 7px;

}

.btn-more-info:hover {
    color: #FF6600; 
}
.btn-preorder {
    font-family:'Open Sans';
    font-weight: bold;
    background-color: white;
    color: #FF6600;
    border: 3px solid #FF6600;
    border-radius: 7px;
}

.btn-preorder:hover {
    color: #3D3D3D;
}
.price {
    font-family:'Open Sans';
    font-weight: 300;
}



/* Characteristics */

.characteristics {
	background-color: #3D3D3D; 
	color: white; 
}
.caracteristiques {
    margin-bottom: 7vh; 
}

.description {
    margin-bottom: 8vh;
}



/* How it works */



/* Preorder */

.preorder {
	background-color: #3D3D3D; 
	color: white; 
}



/* Photos */




/* About us */

.aboutUs {
	background-color: #3D3D3D; 
	color: white; 
}

.logo {
    height: 200px;
}

.network:hover {
    color: #FF6600;
    transition: color 0.4s;
}


/* Footer */

footer {
    background-color: rgb(166, 166, 166); 
    padding: 2vh 0; 
}
.footer {
    color: white; 
}
.footer:hover {
    text-decoration: none;
    color: #3D3D3D; 
}
