/* Global */

@font-face
{
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf');
}
@font-face
{
    font-family: 'Caviar Dreams Bold';
    src: url('fonts/CaviarDreams_Bold.ttf');
}
html, body {
    width: 100%;
    height: 100%;
    font-family:'Open Sans', sans-serif;;
}

.text-justify {
	padding: 0 10vw; 
}

h2 {
	font-size: 1.8em;
	padding-top: 5%;
	padding-bottom: 5%; 
    text-align: center;
    font-family: 'Caviar Dreams';

}

p {
	line-height: 200%; 
}

section {
    padding: 50px 0 50px 0;
}

/* Navbar */

.navbar-brand img {
    height: 30px;
}

.bg-light {
    background-color: rgba(255,255,255,0) !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF6600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: black;
    padding-right: 30px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/background.jpeg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*
.header img {
    height: 70vh;
}
*/

.header .row {
    height: 100vh;
}

.header .header-text {
    color: white; 
}

.header .header-text h1 {
    font-size: calc(29px + (56 - 29) * (100vw - 400px) / 1200);
    font-weight: 600;
    /*
        calc(police_min px + (police_max - police_min) * (100vw - 400px) / (resolution_max - resolution_min))
    */
}


/* Characteristics */

.characteristics {
	background-color: #FF6600; 
	color: white; 
}

/*
.fa-4x { 
	line-height: inherit;
} 
*/


/* How it works */


/* Preorder */

.preorder {
	background-color: #FF6600; 
	color: white; 
}


/* Photos */

.picture {
	margin-bottom: 2%;
}


/* About us */

.aboutUs {
	background-color: #FF6600; 
	color: white; 
}

.network {

}

/* Footer */

footer {
	background-color: grey;
}
